/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definições gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a; /* Fundo preto */
    color: #fff; /* Texto branco */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #2F855A; /* Verde escuro */
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    text-align: left;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
    color: #A3E635; /* Verde claro */
    text-align: left;
    margin: 0;
}

/* Menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #38A169; /* Verde claro */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul li a:hover {
    color: #A3E635;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 400%; /* 4 imagens no total */
    animation: slide 20s infinite; /* Tempo total da animação ajustado para 20s */
}

.slide {
    width: 100%;
    transition: transform 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Animação de transição automática */
@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

/* Rodapé */
footer {
    background-color: #2F855A;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
